.container {
    width: 500px;
    height: 500px;
    border: 1px solid #7c7a7a;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avatar {
    margin-top: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.description {
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #5b5b62;
    font-size: small;
}

.button {
    margin: 10px;
}