.container {
    width: 600px;
    height: 600px;
    margin-right: auto;
    text-align: center;
    margin-left:35%;
    margin-top: 5%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F9F9FE;
}

.avatar {
    margin-top: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.description {
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #5b5b62;
    font-size: small;
}

.button {
    margin: 10px;
}

.buttonsRename {
    margin: 5px;
}

h3 {
    font-size: 22px;
}