.main {
    width: 413px;
    height: 468px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    background: #F9F9FE;
    margin-left:35%;
    margin-top: 5%;
}
.icon {
    color: #808080;
    font-size: 38px;
    position: absolute;
    top: 30%;
    left: 33%;
}

h3 {
    font-size: 22px;
}

p {
    font-weight: 400;
    font-size: 16px;
    color: #2D2E46;
    opacity: 0.5;
    margin-left: 5px;
}
.wrapper {
    width: 108px;
    height: 108px;
    border-radius: 50%;
    position: relative;
    background: #D7D8EF;
}
.text {
    text-align: center;
}
