.main {
    width: 413px;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    background: #F9F9FE;
    margin-left:35%;
    margin-top: 5%;
}
h3 {
    font-size: 22px;
}
p {
    font-weight: 400;
    font-size: 16px;
    color: #2D2E46;
    opacity: 0.5;
}
