.wrapper {
    margin-top: 20%;
    margin-left: 10%;
    display:flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}
.wrapper span {
}
.group {
    margin-top: 10px;
    height: 50px;
}