.register {
    margin-top: 200px;
    text-align: center;
    font-size: larger;
    color: #151212;
    width: 500px;
    height: 500px;
    border: 1px solid #7c7a7a;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.error {
    color: red;
}


.button {
    margin: 10px;
}

.place {
    margin: 5px;
}